<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>汪峰</string>
		<key>songname</key>
		<string>春天里</string>
		<key>pic</key>
		<string>wf.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>周杰伦</string>
		<key>songname</key>
		<string>东风破</string>
		<key>pic</key>
		<string>zjl.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蔡琴</string>
		<key>songname</key>
		<string>其实你的温柔</string>
		<key>pic</key>
		<string>cq.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张学友</string>
		<key>songname</key>
		<string>吻别</string>
		<key>pic</key>
		<string>zxy.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>凤凰传奇</string>
		<key>songname</key>
		<string>月亮之上</string>
		<key>pic</key>
		<string>fhcq.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈奕迅</string>
		<key>songname</key>
		<string>十年</string>
		<key>pic</key>
		<string>cyx.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>邓紫棋</string>
		<key>songname</key>
		<string>喜欢你</string>
		<key>pic</key>
		<string>dzq.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张靓颖</string>
		<key>songname</key>
		<string>画心</string>
		<key>pic</key>
		<string>zly.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>刘德华</string>
		<key>songname</key>
		<string>忘情水</string>
		<key>pic</key>
		<string>ldh.jpg</string>
	</dict>
</array>
</plist>
