<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>boiledchicken.png</string>
		<key>name</key>
		<string>黄焖鸡米饭</string>
		<key>rank</key>
		<integer>4</integer>
		<key>sales</key>
		<integer>1378</integer>
		<key>deliveryThreshold</key>
		<integer>30</integer>
		<key>deliveryCost</key>
		<integer>5</integer>
		<key>deliveryTime</key>
		<integer>35</integer>
		<key>distance</key>
		<integer>990</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>bonesoup.png</string>
		<key>name</key>
		<string>骨汤米线</string>
		<key>rank</key>
		<integer>3</integer>
		<key>sales</key>
		<integer>560</integer>
		<key>deliveryThreshold</key>
		<integer>20</integer>
		<key>deliveryCost</key>
		<integer>3</integer>
		<key>deliveryTime</key>
		<integer>42</integer>
		<key>distance</key>
		<integer>1020</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>burgerking.png</string>
		<key>name</key>
		<string>汉堡王</string>
		<key>rank</key>
		<integer>4</integer>
		<key>sales</key>
		<integer>800</integer>
		<key>deliveryThreshold</key>
		<integer>0</integer>
		<key>deliveryCost</key>
		<integer>8</integer>
		<key>deliveryTime</key>
		<integer>20</integer>
		<key>distance</key>
		<integer>590</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>curryfood.png</string>
		<key>name</key>
		<string>咖喱盖饭</string>
		<key>rank</key>
		<integer>5</integer>
		<key>sales</key>
		<integer>2034</integer>
		<key>deliveryThreshold</key>
		<integer>5</integer>
		<key>deliveryCost</key>
		<integer>3</integer>
		<key>deliveryTime</key>
		<integer>15</integer>
		<key>distance</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>dicos.png</string>
		<key>name</key>
		<string>迪克斯</string>
		<key>rank</key>
		<integer>3</integer>
		<key>sales</key>
		<integer>89</integer>
		<key>deliveryThreshold</key>
		<integer>20</integer>
		<key>deliveryCost</key>
		<integer>8</integer>
		<key>deliveryTime</key>
		<integer>40</integer>
		<key>distance</key>
		<integer>2000</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>famouskitchen.png</string>
		<key>name</key>
		<string>大牌小厨</string>
		<key>rank</key>
		<integer>3</integer>
		<key>sales</key>
		<integer>67</integer>
		<key>deliveryThreshold</key>
		<integer>0</integer>
		<key>deliveryCost</key>
		<integer>5</integer>
		<key>deliveryTime</key>
		<integer>50</integer>
		<key>distance</key>
		<integer>1560</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>japanesefood.png</string>
		<key>name</key>
		<string>樱花料理</string>
		<key>rank</key>
		<integer>4</integer>
		<key>sales</key>
		<integer>256</integer>
		<key>deliveryThreshold</key>
		<integer>30</integer>
		<key>deliveryCost</key>
		<integer>15</integer>
		<key>deliveryTime</key>
		<integer>30</integer>
		<key>distance</key>
		<integer>890</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>pizza.png</string>
		<key>name</key>
		<string>必胜客</string>
		<key>rank</key>
		<integer>5</integer>
		<key>sales</key>
		<integer>60</integer>
		<key>deliveryThreshold</key>
		<integer>80</integer>
		<key>deliveryCost</key>
		<integer>15</integer>
		<key>deliveryTime</key>
		<integer>15</integer>
		<key>distance</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>spicychicken.png</string>
		<key>name</key>
		<string>蜀香园</string>
		<key>rank</key>
		<integer>4</integer>
		<key>sales</key>
		<integer>67</integer>
		<key>deliveryThreshold</key>
		<integer>20</integer>
		<key>deliveryCost</key>
		<integer>3</integer>
		<key>deliveryTime</key>
		<integer>30</integer>
		<key>distance</key>
		<integer>900</integer>
	</dict>
</array>
</plist>
